
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family: 'Roboto', sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(145deg, #21A179, #0B3954); 
  color:white;
}
.center{
  align-items:center;
}

.logo{
  height:45px;  
  padding-right: 20px;
}

.logo-wrap{
  display:flex;
  align-items:center;
}
header{
  font-family:arial;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  color: #051A27;
  height:90px;
  padding:30px;
  font-weight:510;
  font-size: 28px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  background:rgba(255,240,255,.8);
}
.button{
  position:absolute;
  display: table-cell; 
  vertical-align: middle;
  bottom:0;
  right:0;
  background:#051A27; 
  color:#000000;  
  font-family:arial;
  font-size:25px;
  color:white;
  width:25%;
  height: 6%;
  border-radius:15px;
  border: 2px solid white;
  margin: .2% .5% 1% 1%;
  outline:none;
}

.button:disabled{
  color:gray;
}
.text-input{
  position:absolute;
  padding: .65%;
  padding-left: 2%;
  bottom:0;
  outline:none;
  margin: 0px 0px 1% 1%;
  width:95%;
  height: 6%;
  left:0;
  background: #051A27;
  border-radius: 15px;
  border: 2px solid white;
  color:white;
  font-family: 'Roboto', sans-serif;
}

.message {
  border:1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin:2px 2px;
  border-radius: 10px;
  background:#051A27; 
  display:inline-block;
  font-family: 'Roboto', sans-serif;
  
}
.message-wrap[from="me"]{ 
  width:100%;
  display:flex;
  word-break:break-all;
  word-break: break-word;
  flex-direction: row-reverse;
}

.message-wrap[from="you"]{ 
  width:100%;
  display:flex;
  margin-left: 3px;
  flex-direction: row;
  word-break: break-all;
  word-break: break-word;
}

.messages{
  position:absolute;
  top: 90px;
  width:100vw;
  left:0;
  margin-left: -2px;
  height:calc(100vh - 150px);
  display:flex;
  flex-direction: column-reverse;
  overflow-y: scroll; 
}

.nameInput:disabled {
  width:40%;
  outline:none;
  margin-left: 45%;
  background: rgba(255, 255, 255, 0);
  border:none;
  color: gray;
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.nameInput{
  outline:none;
  width:40%;
  padding:5px;
  font-size: 15px;
  margin-left: 45%;
  background: #86CB92;
  border:none;
  border-radius: 20px;
  color: #051A27;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.nameBtn {
  width:15%;
  height:20px;
  outline:none;
  background-color:transparent;
  border: 1px white;
  overflow: hidden; 
}

.editIcon {
  color:#051A27;

}
.editIcon:disabled {
  color: Transparent;
}

.user {
  font-size: 10px;
  weight:200;
  color: #9CA6A6;
  margin:2px 2px;
  margin-right: 5px;
  margin-left: 5px;
  display:inline-block;
  font-family: 'Roboto', sans-serif;
}