
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family: 'Roboto', sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(145deg, #21A179, #0B3954); 
  color:white;
}

.logo{
  height:45px;  
  padding-right: 20px;
}

.logo-wrap{
  display:flex;
  align-items:center;
}
header{
  font-family:arial;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  color: #051A27;
  height:90px;
  padding:30px;
  font-weight:510;
  font-size: 28px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  background:rgba(255,240,255,.8);
}
.button{
  background:#051A27; 
  color:#000000;  
  color:white;
  padding: .75em;
  width: 12%;
  border-radius:60px;
  border: none;
  outline:none;
}


.center{
  position: absolute;
  width: 100%;
  display:flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  align-items:center;
  margin-bottom: 10px;
}

.name-wrap {
  position:relative;
  display: flex;
  align-items:center;
}

.text-input{
  outline:none;
  border:1px solid white;
  width:70%;
  padding: 1em;
  background: #051A27;
  border-radius: 30px;
  margin-right: 1%;
  margin-left: 1%;
  color:white;
  font-family: 'Roboto', sans-serif;
}

.message {
  border:1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
  margin:2px 2px;
  max-width:70vw;
  border-radius: 10px;
  background:#051A27; 
  display:inline-block;
  font-family: 'Roboto', sans-serif;
  
}
.message-wrap[from="me"]{ 
  width:100%;
  display:flex;
  word-break:break-all;
  word-break: break-word;
  flex-direction: row-reverse;
  margin-left:-1%;
}

.message-wrap[from="you"]{ 
  width:100%;
  display:flex;
  padding-left: 3px;
  overflow: auto;
  flex-direction: row;
  word-break: break-all;
  word-break: break-word;
}

.messages{
  position:absolute;
  bottom: 0;
  padding-bottom: 60px;
  width:100vw;
  left:0;
  height : calc(100vh - 90px);
  display:flex;
  flex-direction: column-reverse;
  overflow-y: auto; 

}

.nameInput:disabled {
  width:100px;
  outline:none;
  background: rgba(255, 255, 255, 0);
  border:none;
  color: gray;
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.nameInput{
  outline:none;
  width:100px;
  padding:5px;
  font-size: 15px;
  background: #86CB92;
  border:none;
  border-radius: 20px;
  color: #051A27;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.nameBtn {
  height:20px;
  outline:none;
  background-color:transparent;
  border: 1px white;
  overflow: hidden; 
}

.editIcon {
  color:#051A27;

}
.editIcon:disabled {
  color: Transparent;
}

.user {
  font-size: 10px;
  weight:200;
  color: #9CA6A6;
  margin-top : 3px;
  margin-bottom: 4px;
  margin-right: 7px;
  margin-left: 7px;
  display:inline-block;
  font-family: 'Roboto', sans-serif;
}

.msgpic {
  height:150px;
}